from_latest_tag = true
ignore_merge_commits = true
disable_changelog = false
disable_bump_commit = false
generate_mono_repository_global_tag = true
branch_whitelist = []
skip_ci = "[skip ci]"
skip_untracked = false
pre_bump_hooks = []
post_bump_hooks = [
    "git push",
    "git push origin --tags"
]
pre_package_bump_hooks = []
post_package_bump_hooks = []
monorepo_version_separator = "/"
tag_prefix = "v"

[git_hooks]

[commit_types]
chore = { changelog_title = "Chores" }

[changelog]
path = "CHANGELOG.md"
authors = []

[bump_profiles]

[packages]
aws = { path = "aws" }
databricks = { path = "databricks" }
github-terraform-databricks-modules = { path = "github/terraform-aws-modules" }
github-lazzurs = { path = "github/lazzurs" }
github-unicornops = { path = "github/unicornops" }
github-terraform-gh-modules = { path = "github/terraform-gh-modules" }
gcp = { path = "gcp" }
azure = { path = "azure" }
cloudflare-unicornops = { path = "cloudflare/unicornops" }
cloudflare-creammaeve = { path = "cloudflare/creammaeve" }
homelab = { path = "homelab" }
axiom = { path = "axiom" }
